.loader-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loader-image {
  width: 30%;
  height: 40%;
}

.loader-button {
  background-color: #ab2538;
  color: #fff;
  opacity: 1 !important;
}

.logout {
  backdrop-filter: blur(2px);
  background-color: #ab2538;
  border-radius: 10px 10px 0 0;
  bottom: 2.8rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
  color: #fff;
  margin-left: 90%;
  padding: 10px;
  position: fixed;
  width: 10%;
  border: none;
}

.cartbtn {
  backdrop-filter: blur(2px);
  background-color: #ab2538;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
  color: #fff;
  margin-left: 90%;
  padding: 10px;
  position: fixed;
  width: 10%;
  border: none;
}

@media screen and (max-width: 992px) {
  .loader-image {
    width: 50%;
    height: 40%;
  }
}
