.loader-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 6% 0;
}

.loader-image {
  width: 30%;
  height: 30%;
}

.loader-button {
  background-color: #AB2538;
  color: #fff;
  opacity: 1 !important;
}

.logout {
  backdrop-filter: blur(2px);
  background-color: #AB2538;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
  color: #fff;
  margin-left: 90%;
  padding: 10px;
  position: fixed;
  width: 10%;
  border: none;
}

.cartbtn {
  backdrop-filter: blur(2px);
  background-color: #AB2538;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
  color: #fff;
  margin-left: 90%;
  padding: 10px;
  position: fixed;
  width: 10%;
  border: none;
}