.Header {
  color: white;
  width: 100%;
  background-color: #ab2538;
  text-align: left;
}

.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: 900 !important;
}

@media screen and (max-width: 990px) {
  .navbar > .container-fluid {
    align-items: flex-start !important;
  }
}
